# OCaml specific
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.install

# Build directory
_build/

# Editor specific
.vscode/
.idea/
*.swp
*~

# Dependencies
_opam/
node_modules/

# System files
.DS_Store
